<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      app
      :temporary="temporary"
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      dense
    >
      <v-app-bar-nav-icon @click.stop="print(drawer); drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <div v-if="!$auth.loggedIn">
        <v-btn
          icon
          @click.stop="showMenu = !showMenu"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
        <v-btn
          nuxt
          to="/login"
        >
          Login
          <v-icon right dark>mdi-account</v-icon>
        </v-btn>
      </div>
      <v-avatar
        color="primary"
        size="30"
        v-if="$auth.loggedIn"
        @click="showMenu = !showMenu"
      >
        <v-icon dark>mdi-account-circle</v-icon>
      </v-avatar>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
    <transition name="fade">
      <v-card
        class="infoCard"
        outlined
        v-if="showMenu"
        :elevation="4"
        v-click-outside="()=>{if(showMenu){showMenu=false}}"
      >
        <v-img
          src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
          gradient="to top right, rgba(255,115,255,.33), rgba(105,32,72,.7)"
        >
          <v-row
            align="end"
            class="fill-height"
          >
            <v-col class="py-0">
              <v-list-item dark>
                <v-list-item-content>
                  <v-list-item-title class="title">{{$auth.user ? $auth.user.contact : ""}}</v-list-item-title>
                  <v-list-item-subtitle>{{$auth.user ? $auth.user.name : ""}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>
          </v-row>
        </v-img>
        <v-list>
          <v-list-item-group>
            <v-list-item>
              <v-list-item-avatar>
                <v-icon>
                  mdi-theme-light-dark
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>Dark Mode</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-switch
                  v-model="darkMode"
                  text="test"
                ></v-switch>
              </v-list-item-action>
            </v-list-item>
            <v-list-item v-if="$auth.loggedIn" to="/settings" @click="showMenu=false">
              <v-list-item-avatar>
                <v-icon>
                  mdi-cog
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>Settings</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-if="$auth.loggedIn" @click="logout">
              <v-list-item-avatar>
                <v-icon>
                  mdi-logout-variant
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>Logout</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </transition>
    <v-snackbar
      v-model="loginErrorSnackbar"
    >
      {{ loginErrorSnackBarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="loginErrorSnackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<style scoped>
.v-btn--active:before{
  opacity: 0 !important;
}

.v-btn:before{
  background-color: unset;
}

.v-list-item--active::before{
  opacity: 0 !important;
}

.infoCard{
  position: absolute;
  top: 62px;
  right: 8px;
  max-width: calc(100% - 16px);
  width: 356px;
  z-index: 3;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      temporary: true,
      items: [
        {
          icon: 'mdi-thermometer',
          title: 'Thermometer',
          to: '/'
        },
        {
          icon: 'mdi-access-point',
          title: 'Devices',
          to: '/devices'
        },
        {
          icon: 'mdi-account-multiple',
          title: 'Students',
          to: '/students'
        },
        {
          icon: 'mdi-account-plus-outline',
          title: 'Visitors',
          to: '/visitors'
        },
        {
          icon: 'mdi-monitor-multiple',
          title: 'Monitor',
          to: '/monitor'
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      showMenu: false,
      title: 'SenseLink Utils',
      socket: null,
      loginErrorSnackbar: false,
      loginErrorSnackBarText: "Can't login with existing information",
    }
  },
  methods: {
    ...mapActions([
      "connectSocket",
      "disconnectSocket",
      "loadDevices",
      "startDaemonWork",
      "callSenseLinkAPI",
      "loadStudents",
    ]),
    print(message) {
      console.log(message)
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    setColorTheme(){
      let darkMode = this.$auth.$storage.getCookie("darkMode")
      if(darkMode){
        this.darkMode = darkMode
      }
    },
    logout(){
      console.log("logout")
      this.$auth.$storage.setUniversal('user', null)
      this.$auth.setUser(null)
      console.log({user: this.$auth.$state})
      this.showMenu = false
      this.disconnectSocket()
      this.$router.push({
          path: '/login'
      })
    },
    loginSuccessCallback(){
      console.log("loginSuccessCallback")
      //successfully login
      this.startDaemonWork()
    },
    loginFailureCallback(){
      console.log("loginFailureCallback")
      this.logout()
      this.loginErrorSnackbar = true
    },
  },
  async mounted() {
    console.log("mounted")
    // this.socket = this.$nuxtSocket({})

    // this.socket.on('connect', (msg, cb) => {
    //   console.log("socket io connected!")
    // })

    if(this.$auth.loggedIn){
      // verify user info with SenseLink
      // try to connect to senselink
      let response = await this.callSenseLinkAPI({
        senselinkURL: this.$auth.user.senselinkURL,
        senselinkAppKey: this.$auth.user.senselinkAppKey,
        senselinkAppSecret: this.$auth.user.senselinkAppSecret,
        requestURL: "/api/v1/company",
      })

      console.log({response})

      // error connecting to senselink
      if(response.code != 200){
        console.log("ERROR: cannot connect to senselink")
        console.log(response.message)

        this.senselinkConnectError = true

        this.loginFailureCallback()
        return
      }

      //load devices
      this.loadDevices()

      //load students
      this.loadStudents()

      this.loginSuccessCallback()

      //try to connect to socket
      if (this.$auth.user.receiveEvents){
        this.connectSocket({
          successCallback: this.loginSuccessCallback,
          failureCallback: this.loginFailureCallback,
        })
      }
    }

    console.log({auth: this.$auth.$state})
  },
  beforeMount(){

  },
  created() {
    console.log("created")
    this.setColorTheme()
  },
  updated() {
    console.log("updated")
  },
  computed:{
    darkMode:{
      get(){
        console.log(this.$vuetify.theme.dark)
        return this.$vuetify.theme.dark
      },
      set(newValue){
        this.$auth.$storage.setCookie("darkMode", newValue)
        this.$vuetify.theme.dark = newValue
      }
    }
  },
}
</script>
