<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col cols="3" sm="6" class="pb-0">
        <div style="display:flex; align-items: center;">
          <v-btn 
            icon
            to="/devices"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title v-text="'Device Actions'" />
        </div>
      </v-col>
    </v-row>
    <v-divider class="mx-n6" style="max-width: unset;"></v-divider>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pt-6 pb-0">
        <v-select 
          :items="actionItems" 
          label="Action of reader (required)" 
          dense 
          outlined
          v-model="action"
        >
        </v-select>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="School code (required)" 
          outlined dense
          v-model="schoolCode"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="Reader ID (required)" 
          outlined dense
          v-model="readerID"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center" v-if="action==2">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="Old reader ID (required)" 
          outlined 
          dense
          v-model="oldReaderID"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="Location" 
          dense
          outlined
          v-model="location"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn
        :disabled="!formIsValid"
        large
        color="accent"
        @click="submit"
      >
        Submit
        <v-icon right dark>mdi-arrow-right</v-icon>
      </v-btn>
    </v-row>
    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
        <v-card-text>
          This item will be delted immediately. You can't undo this action.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            @click="submitDeleteDevice()"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style lang="scss">

</style>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    actionItems: [
      { 
        text: "New",
        value: 1,
      },
      { 
        text: "Replace",
        value: 2,
      },
      { 
        text: "Delete",
        value: 3,
      },
    ],
    action: 1,
    schoolCode: null,
    readerID: null,
    oldReaderID: null,
    location: null,
    dialog: false,
  }),
  created: function () {},
  destroyed: function () {},
  computed: {
    ...mapState([
      "devices", 
      "currentDeviceId", 
      "temperature"
    ]),
    formIsValid() {
      return (
        this.action &&
        this.schoolCode &&
        this.readerID &&
        (this.action == 2 ? this.oldReaderID : true)
      )
    },
  },
  mounted() {},
  methods: {
    submit() {
      switch(this.action) {
        case 1:
          // New Device
          this.submitNewDevice()
          break;
        case 2:
          // Replace Device
          this.replaceDevice()
          break;
        case 3:
          // Delete
          this.dialog = true
          break;
        default:
          console.log("ERROR: unrecognized action:", this.action)
      }
    },
  },
  watch: {
    action(){
      console.log({action: this.action})
    }
  }
};
</script>
