<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        <div style="display:flex;">
            Devices
            <v-btn
              class="mx-4"
              nuxt
              to="/device-actions"
            >
              Actions
              <v-icon right dark>mdi-wrench</v-icon>
            </v-btn>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="false"
        loading-text="Loading... Please wait"
        :headers="headers"
        :items="devices"
        :search="search"
        :height="'calc(100vh - 280px)'"
        fixed-header
      >
        <template v-slot:[`item.temperature`]="{ item }">
          <v-row>
            <v-col class="pr-0">
              {{item.temperature}}°C
            </v-col>
            <v-col class="pl-0">
              <v-progress-linear
                :active="true"
                :background-opacity="0.3"
                :bottom="false"
                :buffer-value="100"
                :height="4"
                :indeterminate="false"
                :query="false"
                :rounded="true"
                :stream="false"
                :striped="false"
                :top="false"
                :value="(item.temperature-32)*13"
                color="light-blue"
                style="width:30px;-ms-transform: rotate(-90deg) translateX(-30%);transform: rotate(-90deg) translateX(-30%);"
              ></v-progress-linear>
            </v-col>
          </v-row>
        </template>
        <template v-slot:[`item.state`]="{ item }">
          {{ item.state == 1 ? "online" : "offline" }}
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<style scoped lang="scss">
.v-btn--active:before{
  opacity: 0 !important;
}

.v-btn:before{
  background-color: unset;
}
</style>

<script>
  import CryptoJS from 'crypto-js';
  import {mapState} from 'vuex'
  
  export default {
    data: () => ({
      search: '',
      headers: [
        {
          text: 'Name',
          align: 'start',
          // sortable: false,
          value: 'name',
          width: "30%",
        },
        { 
          text: 'Location', 
          value: 'location',
          width: "30%",
        },
        { 
          text: 'Temperature', 
          value: 'temperature',
          width: "120",
        },
        { 
          text: 'Status', 
          value: 'state',
          width: "100",
        },
      ],
    }),
    created: function () {

    },
    destroyed: function () {},
    computed: {
      ...mapState([
        'devices',
      ]),
    },
    mounted(){
    },
    methods:{
    }
  }

</script>
