<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col class="d-flex" cols="12" sm="6">
        <v-select
          :items="devices"
          label="Device"
          :value="currentDeviceId"
          @change="onChange('currentDeviceId', $event)"
          item-text="name"
          item-value="id"
        ></v-select>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <client-only placeholder="Loading...">
        <vue-thermometer
          :min="32"
          :max="42"
          v-model="devices.find(device => device.id === currentDeviceId).temperature"
          style="padding-left: 30px"
          :options="thermometerOptions"
        />
      </client-only>
    </v-row>
    <v-row align="center" justify="center">
      <h1>{{ devices.find(device => device.id === currentDeviceId).temperature.toFixed(1) }}°C</h1>
    </v-row>
    <v-row align="center" justify="center">
      <h1>{{ devices.find(device => device.id === currentDeviceId).lastUsername }} {{ devices.find(device => device.id === currentDeviceId).lastRecordTime }}</h1>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";

export default {
  name: "Home",
  data: () => ({}),
  components: {},
  created: function () {
    
  },
  destroyed: function () {
    
  },
  methods: {
    ...mapMutations({
      mutateState: "mutateState",
    }),
    onChange(key, value) {
      console.log({ key });
      console.log({ value });
      this.mutateState({ [key]: value });
    },
  },
  computed: {
    ...mapState(["devices", "currentDeviceId"]),
    thermometerOptions() {
      return {
        text: {
          color: this.$vuetify.theme.dark ? "white" : "black",
          fontSize: 10,
          textAdjustmentY: 2,
          fontFamily: "Arial",
          textEnabled: true,
        },
        thermo: {
          color: "#FF0000",
          backgroundColor: "#fcf9f9",
          frameColor: this.$vuetify.theme.dark ? "white" : "black",
          ticks: 10,
          ticksEnabled: true,
          tickColor: this.$vuetify.theme.dark ? "white" : "black",
          tickWidth: "1",
        },
        layout: {
          height: 300,
          width: 90,
        },
      };
    },
  },
  mounted() {},
  updated() {},
};
</script>
