<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-text-field 
          label="SenseLink URL (required)"
          outlined 
          dense
          v-model="formData.senselinkURL"
          :error="senselinkConnectError"
          :error-messages="senselinkConnectError ? 'cannot connect to SenseLink!' : ''"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="SenseLink App Key (required)" 
          outlined 
          dense
          v-model="formData.senselinkAppKey"
          type="password"
          append-icon="mdi-eye-off"
          :error="senselinkConnectError"
          :error-messages="senselinkConnectError ? 'cannot connect to SenseLink!' : ''"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="SenseLink App Secret (required)" 
          outlined 
          dense
          v-model="formData.senselinkAppSecret"
          type="password"
          append-icon="mdi-eye-off"
          :error="senselinkConnectError"
          :error-messages="senselinkConnectError ? 'cannot connect to SenseLink!' : ''"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-checkbox
          v-model="formData.receiveEvents"
          class="mt-0"
          label="Receive Events"
        ></v-checkbox>
      </v-col>
    </v-row>
    <v-row v-if="formData.receiveEvents" align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="Socket IO URL (required)" 
          dense
          outlined
          v-model="formData.socketIOURL"
          :error="socketIOConnectError"
          :error-messages="socketIOConnectError ? 'Cannot connect to socket!' : ''"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="formData.receiveEvents" align="center" justify="center">
      <v-col cols="12" sm="6" class="py-0">
        <v-text-field 
          label="Socket IO Path (required)" 
          dense
          outlined
          v-model="formData.socketIOPath"
          :error="socketIOConnectError"
          :error-messages="socketIOConnectError ? 'Cannot connect to socket!' : ''"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn
        :disabled="!formIsValid"
        large
        color="accent"
        @click="login"
        :loading="loading"
      >
        Login
        <v-icon right dark>mdi-arrow-right</v-icon>
      </v-btn>
    </v-row>
  </v-container>
</template>

<style lang="scss">

</style>

<script>
import { mapState } from "vuex";
import { mapActions } from "vuex";
import { mapMutations } from "vuex";
import io from 'socket.io-client';

export default {
  data: () => ({
    formData:{
      senselinkURL: "https://link.bi.sensetime.com",
      senselinkAppKey: "a74ea43ed76b7ece",
      senselinkAppSecret: "fe20c088883c4dc2b16cd76e0b7f2c46",
      receiveEvents: true,
      socketIOURL: "https://socketio.ml",
      socketIOPath: "/bidemobox/socket.io"
    },
    loading: false,
    senselinkConnectError: false,
    socketIOConnectError: false,
    userInfo: null,
  }),
  created: function () {},
  destroyed: function () {},
  computed: {
    ...mapState([
      "devices", 
      "currentDeviceId", 
      "temperature",
    ]),
    formIsValid() {
      return (
        this.formData.senselinkURL &&
        this.formData.senselinkAppKey &&
        this.formData.senselinkAppSecret &&
        (! this.formData.receiveEvents || 
        this.formData.socketIOURL &&
        this.formData.socketIOPath)
      )
    },
  },
  mounted() {
    const user = this.$auth.$storage.getUniversal('user')
    console.log({user})
    // this.formData.senselinkURL = a74ea43ed76b7ece
  },
  methods: {
    ...mapMutations({
      mutateState: "mutateState",
    }),
    ...mapActions([
      "callSenseLinkAPI",
      "connectSocket",
      "loadDevices",
      "startDaemonWork",
      "loadStudents",
    ]),
    loginFailureCallback(){
      console.log("loginFailureCallback")
      this.socketIOConnectError = true
      this.loading = false
    },
    loginSuccessCallback(){
      //successfully logged in
      console.log("loginSuccessCallback")
      this.senselinkConnectError = false
      this.socketIOConnectError = false
      this.loading = false

      //log user in, save user info
      this.$auth.setUser({
        ...this.userInfo,
        ...this.formData,
        socketIOURL: this.formData.receiveEvents ? this.formData.socketIOURL : null,
        socketIOPath: this.formData.receiveEvents ? this.formData.socketIOPath : null,
        healthCheckInterval: 120,
        batchSendRecordsToHKTInterval: 60,
        isDaemonWorking: true,
      })

      this.$auth.$storage.setUniversal('user', this.$auth.user)

      this.startDaemonWork()
    },
    async login() {
      console.log("login")
      this.loading = true
      this.senselinkConnectError = false
      this.socketIOConnectError = false
      
      // try to connect to senselink
      let response = await this.callSenseLinkAPI({
        senselinkURL: this.formData.senselinkURL,
        senselinkAppKey: this.formData.senselinkAppKey,
        senselinkAppSecret: this.formData.senselinkAppSecret,
        requestURL: "/api/v1/company",
      })

      console.log({response})
      this.userInfo = response.data

      // error connecting to senselink
      if(response.code != 200){
        console.log("ERROR: cannot connect to senselink")
        console.log(response.message)

        if(response.message == "Network Error"){
          this.senselinkConnectError = true
        }

        this.loading = false
        return
      }

      // can connect to senselink, then load devices
      this.loadDevices({
        senselinkURL: this.formData.senselinkURL,
        senselinkAppKey: this.formData.senselinkAppKey,
        senselinkAppSecret: this.formData.senselinkAppSecret,        
      })

      // can connect to senselink, then load students
      this.loadStudents({
        senselinkURL: this.formData.senselinkURL,
        senselinkAppKey: this.formData.senselinkAppKey,
        senselinkAppSecret: this.formData.senselinkAppSecret,        
      })

      if(this.formData.receiveEvents){
        // try to connect to socket io
        this.connectSocket({
          socketIOURL: this.formData.socketIOURL,
          socketIOPath: this.formData.socketIOPath,
          successCallback: this.loginSuccessCallback,
          failureCallback: this.loginFailureCallback,
        })
      }
      else{
        this.loginSuccessCallback()
      }
    },
  },
  watch: {
    action(){
      console.log({action: this.action})
    }
  }
};
</script>
