<template>
    <grid-layout :layout.sync="layout"
                 :col-num="14"
                 :row-height="25"
                 :is-draggable="draggable"
                 :is-resizable="resizable"
                 :vertical-compact="true"
                 :use-css-transforms="true"
    >
        <grid-item v-for="item in layout"
                   :static="item.static"
                   :x="item.x"
                   :y="item.y"
                   :w="item.w"
                   :h="item.h"
                   :i="item.i"
        >
            <span class="text">{{itemTitle(item)}}</span>
        </grid-item>
    </grid-layout>
</template>

<script>
import { GridLayout, GridItem } from "vue-grid-layout"
import { mapState } from "vuex";

export default {
    components: {
        GridLayout,
        GridItem
    },
    data() {
        return {
            layout: [
              {"x":0,"y":0,"w":2,"h":4,"i":"1", static: true},
               {"x":2,"y":0,"w":2,"h":4,"i":"2", static: true},
               {"x":4,"y":0,"w":2,"h":4,"i":"3", static: true},
               {"x":6,"y":0,"w":2,"h":4,"i":"4", static: true},
               {"x":8,"y":0,"w":2,"h":4,"i":"5", static: true},
               {"x":10,"y":0,"w":2,"h":4,"i":"6", static: true},
               {"x":12,"y":0,"w":2,"h":4,"i":"7", static: true},
               {"x":0,"y":5,"w":2,"h":4,"i":"8", static: true},
               {"x":2,"y":5,"w":2,"h":4,"i":"9", static: true},
               {"x":4,"y":5,"w":2,"h":4,"i":"10", static: true},
               {"x":6,"y":5,"w":2,"h":4,"i":"11", static: true},
               {"x":8,"y":5,"w":2,"h":4,"i":"12", static: true},
               {"x":10,"y":5,"w":2,"h":4,"i":"13", static: true},
               {"x":12,"y":5,"w":2,"h":4,"i":"14", static: true},
               {"x":0,"y":10,"w":2,"h":4,"i":"15", static: true},
               {"x":2,"y":10,"w":2,"h":4,"i":"16", static: true},
               {"x":4,"y":10,"w":2,"h":4,"i":"17", static: true},
               {"x":6,"y":10,"w":2,"h":4,"i":"18", static: true},
               {"x":8,"y":10,"w":2,"h":4,"i":"19", static: true},
               {"x":10,"y":10,"w":2,"h":4,"i":"20", static: true},
               {"x":12,"y":10,"w":2,"h":4,"i":"21", static: true}
            ],
            draggable: true,
            resizable: true,
            index: 0
        }
    },
    methods: {
        itemTitle(item) {
            let result = item.i;
            if (item.static) {
                result = "SP " + result;
            }
            return result;
        }
    },
    //computed: {
    //  ...mapState([
    //    "devices",
    //    "currentDeviceId",
    //    "temperature"
    //  ]),
  }
</script>

<style scoped>
.vue-grid-layout {
    background: #eee;
}
.vue-grid-item:not(.vue-grid-placeholder) {
    background: #ccc;
    border: 1px solid black;
}
.vue-grid-item .resizing {
    opacity: 0.9;
}
.vue-grid-item .static {
    background: #cce;
}
.vue-grid-item .text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}
.vue-grid-item .no-drag {
    height: 100%;
    width: 100%;
}
.vue-grid-item .minMax {
    font-size: 12px;
}
.vue-grid-item .add {
    cursor: pointer;
}
.vue-draggable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
    background-position: bottom right;
    padding: 0 8px 8px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: pointer;
}
</style>
