<template>
  <v-container fluid>
    <v-list shaped class="settings-nav" color="tertiary">
      <v-subheader>SETTINGS</v-subheader>
      <v-list-item-group v-model="item" color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          exact
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <div class="settings-main">
      <nuxt-child/>
    </div>
  </v-container>
</template>

<style lang="scss">
.settings-nav{
    height: 100vh;
    top: 48px !important;
    transform: translateX(0%);
    width: 256px;
    max-height: calc(100% - 84px);
    position: fixed;
    left: 0;
}

.settings-main{
  padding-left: 245px;
}
</style>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  data: () => ({
    item: 0,
    items: [
      { 
        text: 'Profile', 
        icon: 'mdi-account',
        to: '/settings',
      },
      { 
        text: 'Daemon', 
        icon: 'mdi-hammer-wrench',
        to: '/settings/daemon',
      },
    ],
  }),
  created: function () {
  },
  destroyed: function () {},
  components: {},
  computed: {
    
  },
  mounted() {
    
  },
  methods: {
    ...mapMutations([
      "mutateState",
    ]),
    onChange(key,value){
      console.log({[key]: value})
      let keyLayers = key.split(".")

      let currentLayer = this
      for(const keyLayer of keyLayers.slice(0, -1)){
        currentLayer = currentLayer[keyLayer]
      }
      currentLayer[keyLayers[keyLayers.length - 1]] = value
    },
  },
  watch: {
    
  },
};
</script>
