<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        <v-row class="table-top-row">
            <v-col>
              Students
            </v-col>
            <v-col>
              <v-btn
                class="mx-4"
                color="accent"
                @click="syncStudentProfiles"
                :loading="syncingStudentProfiles"
              >
                Sync Student Profiles
                <v-icon right dark>mdi-autorenew</v-icon>
              </v-btn>
              <v-progress-linear
                :active="syncingStudentProfiles"
                :background-opacity="0.3"
                :buffer-value="100"
                :height="4"
                :rounded="true"
                :value="syncStudentProfilesProgress"
                color="light-blue"
              ></v-progress-linear>
            </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="false"
        loading-text="Loading... Please wait"
        :headers="headers"
        :items="students"
        :search="search"
        :height="'calc(100vh - 280px)'"
        fixed-header
        show-expand
      >
        
        <template v-slot:[`item.gender`]="{ item }">
          {{ item.gender ? "Female" : "Male" }}
        </template>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">Student ID {{ item.id }}</td>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<style scoped lang="scss">
.table-top-row{
  flex: unset;
}

.v-btn--active:before{
  opacity: 0 !important;
}

.v-btn:before{
  background-color: unset;
}
</style>

<script>
  import CryptoJS from 'crypto-js';
  import {mapState} from 'vuex'
  import {mapActions} from 'vuex'
  
  export default {
    data: () => ({
      search: '',
      headers: [
        {
          text: 'Name',
          align: 'start',
          // sortable: false,
          value: 'name',
          width: "30%",
        },
        { 
          text: 'Card Number', 
          value: 'ic_number',
          width: "30%",
        },
        { 
          text: 'Department', 
          value: 'department_id',
          width: "120",
        },
        { 
          text: 'Gender', 
          value: 'gender',
          width: "100",
        },
      ],
      syncingStudentProfiles: false,
    }),
    created: function () {

    },
    destroyed: function () {},
    computed: {
      ...mapState([
        'students',
        'syncStudentProfilesProgress',
      ]),
    },
    mounted(){

    },
    methods: {
      ...mapActions([
        "updateStudentProfiles",
        "loadStudents"
      ]),
      async syncStudentProfiles() {
        console.log("syncStudentProfiles")
        this.syncingStudentProfiles = true
        const responses = await this.updateStudentProfiles()
        console.log({responses})
        const response = await this.loadStudents()
        console.log({response})
        this.syncingStudentProfiles = false
      },
      onChange(key,value){
        console.log({[key]: value})
      },
    },
  }

</script>
