<template>
  <v-container fluid>
    <v-row class="videoContainer" align="center" justify="center" ref="videoContainer">
        <video class="video" ref="video" muted playsinline></video>
    </v-row>
    <v-row align="center" justify="center">
        <v-btn icon x-large @click="capturePhoto">
            <v-icon x-large>mdi-camera</v-icon>
        </v-btn>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-text-field
            label="Name (Required)"
            outlined
            v-model="name"
            :rules="[rules.required]"
            dense
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-text-field
            label="Mobile Number (Required)"
            outlined
            v-model="mobileNumber"
            :rules="[rules.required]"
            dense
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <div class="my-2">
        <v-btn
          :disabled="!formIsValid"
          large
          color="accent"
          @click="submit"
        >
          submit
          <v-icon right dark>mdi-arrow-right</v-icon>
        </v-btn>
      </div>
    </v-row>
  </v-container>
</template>

<style lang="scss">
.video{
    max-width: 100%;
    width: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.videoContainer {
  position: relative;
}
canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
</style>

<script>
import { mapState } from "vuex";
import * as faceapi from '~/static/js/face-api.min.js'

let attendanceRecordSubmitIntervalMin = 1
let attendanceRecordSubmitIntervalMax = 5
let canvas = null
let detections = []

export default {
  data: () => ({
    rules: {
      required: value => !!value || 'Required.',
    },
    name: "",
    mobileNumber: "",
    stream: null,
  }),
  created: function () {},
  destroyed: function () {
        const video = this.$refs.video
        if(this.stream){
            this.stopStream(this.stream)
        }
  },
  computed: {
    ...mapState([
      "devices", 
      "currentDeviceId", 
      "temperature"
    ]),
    formIsValid() {
      return (
        this.name &&
        this.mobileNumber
      )
    },
  },
  async mounted() {
    const video = this.$refs.video
    console.log({video})
    const constraints = { video: true }
    this.stream = await navigator.mediaDevices.getUserMedia(constraints)
    .then(function(stream) {
        video.srcObject = stream
        video.play()
        return stream
    })
    .catch(function(err) {
        console.error(err)
    })

    faceapi.nets.tinyFaceDetector.loadFromUri('/models')

    video.addEventListener('play', async () => {
    console.log("play")
    console.log(video.readyState)
    while (video.readyState != 4){
      console.log(video.readyState)
      await this.sleep(100)
    }

    const videoContainer = this.$refs.videoContainer
    if (canvas){
      videoContainer.removeChild(canvas)
    }
    canvas = faceapi.createCanvasFromMedia(video)
    canvas.id = "canvas"
    videoContainer.append(canvas)
    console.log({document: document.body})
    const displaySize = { width: video.clientWidth, height: video.clientHeight }
    faceapi.matchDimensions(canvas, displaySize)
    const imageCanvas = document.createElement("canvas")
    imageCanvas.width = displaySize.width
    imageCanvas.height = displaySize.height
    setInterval(async () => {
      const imageCanvasContext = imageCanvas.getContext('2d')
      imageCanvasContext.scale(-1, 1)
      imageCanvasContext.drawImage(video, 0, 0, -imageCanvas.width, imageCanvas.height)
      detections = await faceapi.detectAllFaces(imageCanvas, new faceapi.TinyFaceDetectorOptions())
      const resizedDetections = faceapi.resizeResults(detections, displaySize)
      canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
      faceapi.draw.drawDetections(canvas, resizedDetections)
    }, 1000)
  })
  },
  methods: {
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    onChange(key,value){
      console.log({[key]: value})
    },
    submit(){
        console.log("submit")
    },
    capturePhoto(){
        console.log("capturePhoto")
        const video = this.$refs.video
        video.pause()
    },
    stopStream(stream) {
        console.log({stream})
        stream.getTracks().forEach(function(track) {
            if (track.readyState == 'live') {
                track.stop();
            }
        });
    },
  },
  watch: {
    
  }
};
</script>
