<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-switch
          :value="formData.isDaemonWorking"
          @change="onChange('formData.isDaemonWorking', Boolean($event))"
          inset
          label="Daemon Working"
          class="v-input--reverse"
        ></v-switch>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-text-field
          label="Health Check Interval (second)"
          outlined
          :value="formData.healthCheckInterval"
          type="number"
          @input="onChange('formData.healthCheckInterval', Number($event))"
          :rules="[rules.required, rules.inHealthCheckIntervalRange]"
          dense
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" class="pb-0">
        <v-text-field
          label="Batch Send Records Interval (second)"
          outlined
          :value="formData.batchSendRecordsToHKTInterval"
          type="number"
          @input="
            onChange('formData.batchSendRecordsToHKTInterval', Number($event))
          "
          :rules="[rules.required, rules.inbatchSendRecordsToHKTIntervalRange]"
          dense
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn :disabled="!formIsValid" large color="accent" @click="save">
        Save
        <v-icon right dark>mdi-arrow-right</v-icon>
      </v-btn>
    </v-row>
    <v-snackbar
      v-model="saveSuccessSnackbar"
      color="success"
      right
      :timeout="6000"
      top
    >
      Successfully Saved!
      <template v-slot:action="{ attrs }">
        <v-btn dark text v-bind="attrs" @click="saveSuccessSnackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-dialog
      v-model="showDialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Are you sure you want leave this page?</v-card-title>
        <v-card-text>
          Changes you made might not be saved.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="showDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            @click="discardChanges()"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style lang="scss">
.settings-nav {
  height: 100vh;
  top: 48px !important;
  transform: translateX(0%);
  width: 256px;
  max-height: calc(100% - 84px);
  position: fixed;
  left: 0;
}

.settings-main {
  padding-left: 245px;
}

// Reversed input variant
.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;
  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
</style>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

const healthCheckIntervalRangeMin = 3;
const healthCheckIntervalRangeMax = 240;

const batchSendRecordsToHKTIntervalRangeMin = 1;
const batchSendRecordsToHKTIntervalRangeMax = 60;
export default {
  data: () => ({
    rules: {
      required: (value) => !!value || "Required.",
      inHealthCheckIntervalRange: (value) =>
        (healthCheckIntervalRangeMin <= value &&
          value <= healthCheckIntervalRangeMax) ||
        `Range [${healthCheckIntervalRangeMin},${healthCheckIntervalRangeMax}].`,
      inbatchSendRecordsToHKTIntervalRange: (value) =>
        (batchSendRecordsToHKTIntervalRangeMin <= value &&
          value <= batchSendRecordsToHKTIntervalRangeMax) ||
        `Range [${batchSendRecordsToHKTIntervalRangeMin},${batchSendRecordsToHKTIntervalRangeMax}].`,
    },
    formData: {
      healthCheckInterval: null,
      batchSendRecordsToHKTInterval: null,
      isDaemonWorking: false,
    },
    saveSuccessSnackbar: false,
    isFormDirty: false,
    to: null,
    showDialog: false,
  }),
  created: function () {},
  destroyed: function () {},
  computed: {
    ...mapState("auth", ["user"]),
    formIsValid() {
      return (
        this.formData.healthCheckInterval &&
        healthCheckIntervalRangeMin <= this.formData.healthCheckInterval &&
        this.formData.healthCheckInterval <= healthCheckIntervalRangeMax &&
        this.formData.batchSendRecordsToHKTInterval &&
        batchSendRecordsToHKTIntervalRangeMin <=
          this.formData.batchSendRecordsToHKTInterval &&
        this.formData.batchSendRecordsToHKTInterval <=
          batchSendRecordsToHKTIntervalRangeMax
      );
    },
  },
  mounted() {
    this.formData.healthCheckInterval = this.user.healthCheckInterval;
    this.formData.batchSendRecordsToHKTInterval = this.user.batchSendRecordsToHKTInterval;
    this.formData.isDaemonWorking = this.user.isDaemonWorking;
  },
  methods: {
    ...mapMutations(["mutateState"]),
    ...mapActions(["startDaemonWork"]),
    save() {
      console.log("save");
      this.$auth.setUser({
        ...this.$auth.user,
        ...this.formData,
      });

      this.$auth.$storage.syncUniversal("user", this.$auth.user);

      // for (const [key, value] of Object.entries(this.formData)) {
      //   this.mutateState({[key]: value})
      // }
      this.startDaemonWork();

      this.isFormDirty = false;
      this.saveSuccessSnackbar = true;
    },
    onChange(key, value) {
      this.isFormDirty = true
      console.log({ [key]: value });
      let keyLayers = key.split(".");

      let currentLayer = this;
      for (const keyLayer of keyLayers.slice(0, -1)) {
        currentLayer = currentLayer[keyLayer];
      }
      currentLayer[keyLayers[keyLayers.length - 1]] = value;
    },
    discardChanges() {
      this.showDialog = false;
      this.isFormDirty = false;
      this.$router.push(this.to);
    },
  },
  watch: {

  },
  destroyed(){
    console.log("destroyed")
    if (this.needToSave == true){
      console.log("needToSave")
    }
  },
  beforeRouteLeave (to, from, next) {
      console.log("beforeRouteLeave")
      this.to = to
      if (this.isFormDirty){
          this.showDialog = true
      }
      else {
          next()
      }
    //   next()
    //   this.$dialog.confirm('Do you want to proceed?')
    //   .then(function () {
    //       next();
    //   })
    //   .catch(function () {
    //       next(false);
    //   });
  },
};
</script>
