<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <span>Name: <b>{{user.name}}</b></span>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <span>Contact: <b>{{user.contact}}</b></span>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <span>SenseLink URL: <b>{{user.senselinkURL}}</b></span>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <span>Receiving Events from Socket: <b>{{user.receiveEvents}}</b></span>
      </v-col>
    </v-row>
    <v-row v-if="user.receiveEvents">
      <v-col>
        <span>Socket.IO URL: <b>{{user.socketIOURL}}</b></span>
      </v-col>
    </v-row>
    <v-row v-if="user.receiveEvents">
      <v-col>
        <span>Socket.IO Path: <b>{{user.socketIOPath}}</b></span>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss">

</style>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data: () => ({
    
  }),
  created(){

  },
  destroyed(){

  },
  computed: {
    ...mapState("auth",[
      "user", 
    ]),
    formIsValid() {

    },
  },
  mounted() {
    
  },
  methods: {
    ...mapMutations([
      "mutateState",
    ]),
    ...mapActions([

    ]),
    save() {
      
    },
    onChange(key,value){

    },
  },
  watch: {
    
  }
};
</script>
